<!-- It's the same html page as the default one provided by Spring Security adjusted for Thymeleaf-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <!-- If it does not show in preview, it's because of Spring Security, try to run the application it will pick it up.-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form method="post" th:action="@{/login}">
                    <h2 class="form-signin-heading">Login</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                               required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                               required>
                    </div>

                    <div class="form-group d-flex justify-content-between align-items-center">
                        <a th:href="@{/password_reset}" class="link">Forgot Password?</a>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>

                    <div class="form-group">
                        <p class="text-center">Don't have an account? <a th:href="@{/register}" class="link">Sign up</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h2 class="form-signin-heading">Login with OAuth 2.0</h2>
    <div class="container my-3">
        <div class="row mb-3">
            <div class="col">
                <a href="/oauth2/authorization/github" class="btn btn-light btn-block text-left">
                    <i class="fab fa-github" aria-hidden="true"></i> Sign in with GitHub
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/oauth2/authorization/google" class="btn btn-light btn-block text-left">
                    <i class="fa-brands fa-google" aria-hidden="true"></i> Sign in with Google
                </a>
            </div>
        </div>
    </div>
    <!-- Try even if it says Cannot resolve 'passwordResetSuccess'-->
    <div th:if="${passwordResetSuccess}" class="alert alert-success" role="alert">
        Password has been reset successfully. You can now log in.
    </div>
    <div th:if="${passwordResetGenericResponse}" class="alert alert-info" role="alert">
        If your email is registered, you will receive a password reset link.
    </div>
</div>
</body>
</html>
