<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forgot Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form th:action="@{/api/v1/auth/password_reset}" th:object="${passwordResetRequest}"
                  method="post">
                <h2 class="form-signin-heading">Enter your email</h2>
                <p class="text-muted">Please enter your email address. If we find an account, then we will send an email with a link to reset your password.</p>
                <p>
                <p>
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Email address"
                           required
                           autofocus>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">Don't have an account? <a th:href="@{/register}" class="link">Sign up</a></p>
                    <button class="btn btn-primary" type="submit">Send link <i class="fa fa-envelope"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
