<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Set New Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <!---We either submit the token as hidden, it will in the request body of the multipart/form-data request,
            and it will be picked up by the @RequestParam as we know, or we send we extract it from the current ulr
            like this <form th:action="@{/api/v1/auth/password_reset/confirm(token=${param.token})}" and we set it as a
            query param to the POST request, and it will also be picked up by the @RequestParam. Using both at the same
            time it will result to a single token with the same value twice comma separated like token = value, value.
            It will be mapped twice from the @RequestParam--->
            <form th:action="@{/api/v1/auth/password_reset/confirm(token=${param.token})}" th:object="${passwordResetConfirmationRequest}"
                  method="post">
                <h2 class="form-signin-heading">Reset your password</h2>
                <p>
                    <label for="newPassword" class="sr-only"></label>
                    <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control"
                           placeholder="New password"
                           required>
                </p>
                <p>
                    <label for="confirmPassword" class="sr-only"></label>
                    <input type="password" id="confirmPassword" th:field="*{confirmationPassword}" class="form-control"
                           placeholder="Confirm new password" required>
                </p>
                <!---<input type="hidden" name="token" th:value="${param.token}"/>--->
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">Don't have an account? <a th:href="@{/register}" class="link">Sign up</a></p>
                    <button class="btn btn-primary" type="submit">Reset <i class="fa fa-key"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
