<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Profile Card UI Design</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid d-flex justify-content-start align-items-start full-height" style="padding: 0">
    <div class="card shadow adjusted-position" style="width: 20rem; border-radius: 1.5rem;">
        <a style="position: absolute; top: 10px; right: 10px; cursor: pointer;">
            <i id="editIcon" class="fas fa-user-edit text-white"></i>
        </a>
        <div class="bg-primary card-top"></div>
        <img th:src="@{/images/user.png}"
             class="rounded-circle profile-image border border-white" alt="Profile Image">
        <div class="card-body text-center" style="padding-top: 50px;">
            <h5 class="card-title" th:text="${userProfile.name}">John Doe</h5>
            <div class="d-flex flex-column align-items-start mb-3 mt-4">
                <div th:if="${not #lists.isEmpty(userProfile.socialAccounts)}">
                    <div th:if="${userProfile.socialAccounts.size() > 0}">
                        <a th:href="${userProfile.socialAccounts.get(0).accountLink()}"
                           class="d-flex align-items-center my-1 link">
                            <i class="fab fa-linkedin link-icon fa-lg"></i>
                            <span class="link-text" th:text="${userProfile.socialAccounts.get(0).accountLink()}"></span>
                        </a>
                    </div>
                    <div th:if="${userProfile.socialAccounts.size() > 1}">
                        <a th:href="${userProfile.socialAccounts.get(1).accountLink()}"
                           class="d-flex align-items-center my-1 link">
                            <i class="fab fa-github link-icon fa-lg"></i>
                            <span class="link-text" th:text="${userProfile.socialAccounts.get(1).accountLink()}"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div th:if="${userProfile.enabled}" class="d-grid gap-2">
                <a th:href="@{/api/v1/user/account/link}" class="btn btn-success text-white mt-3">
                    <i class="fas fa-user-plus"></i> Link an account
                </a>
            </div>

            <div th:if="${not userProfile.enabled}" class="d-grid gap-2">
                <a th:href="@{/api/v1/user/account/activate}" class="btn btn-warning text-white mt-3">
                    <i class="fas fa-user-check"></i> Activate account
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>